#root {
    background-image: url('https://i.imgur.com/XVOGQcI.jpg');
    background-size: cover;
    background-position: center;
}
.quiz-container {
    width: 100%vh;
    margin: auto;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    color: #fff;
}

.question {
    font-size: 24px;
    margin-bottom: 20px;
}

.choices {
    display: flex;
    flex-direction: column;
}

.choice {
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

.quiz-button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #f67f00;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.quiz-button:hover {
    background-color: #ff9933;
}

.quiz-button:disabled {
    background-color: #d3c1ae;
    cursor: not-allowed;
}

.recommended-agent-container {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    color: #fff;
}

.recommended-agent-title {
    font-size: 28px;
    margin-bottom: 20px;
}

.recommended-agent-info {
    font-size: 18px;
    margin-bottom: 10px;
}

.agent-image {
    max-width: 50%; 
    height: auto; 
    display: block; 
    margin: 20px auto; 
}

.ability {
    margin-bottom: 15px;
}

.abilities-list {
    list-style-type: none;
    padding: 0;
  }

.previous-button,
.next-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.previous-button:hover,
.next-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.pick-another-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.pick-another-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}